md-sidenav{
  width: 200px;
  height: 100%;
  background-color: #263648;
  color: #ffffff;
}



md-list-item:hover {
  background-color: #546a83;
}

button, h2{
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: left;
}




