<md-sidenav md-raised mode="side" opened="true" class="navbar-fixed-side container-fluid">
      <md-nav-list>
        <md-list-item>
          <img md-list-avatar src="..." alt="...">
          <h2 md-line> AnsuranceRun </h2>
        </md-list-item>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <!-- <button md-list-item md-button routerLink="../home">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Home
        </button>
        <md-divider></md-divider> -->

        <button md-list-item md-button data-toggle="collapse" data-target="#collapse1" routerLink="../patients" >
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Patients
        </button>

        <div id="collapse1" class="test panel-collapse collapse">
          <div class="list-group">
            <button md-list-item md-button type="button" class="list-group-item" routerLink="../patients/newPatient">New consultation</button>
            <button md-list-item md-button type="button" class="list-group-item" routerLink="../patients/listPatients">List Patients</button>
          </div>
        </div>
        <md-divider></md-divider>

        <button md-list-item md-button data-toggle="collapse" data-target="#collapse2" routerLink="../consulation">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Consulattion
        </button>

        <div id="collapse2" class="test panel-collapse collapse">
          <div class="list-group">
            <button md-list-item md-button type="button" class="list-group-item" routerLink="../consulation/medicalInterview">Medical interview</button>
            <button md-list-item md-button type="button" class="list-group-item" routerLink="../consulation/physicalExamination">Physical Examination</button>
          </div>
        </div>

        <!--<button md-list-item md-button routerLink="../medicalInterview">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          Medical interview
        </button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../physicalExamination">
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
          Physical Examination
        </button>-->
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../imaging">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
          Imaging
        </button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../medication">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          Medication
        </button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../labs">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Labs
        </button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../traitementPlan">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Taitement Plan
        </button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../billings">
        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
          Billing
        </button>
        <md-divider></md-divider>
      </md-nav-list>
        
    </md-sidenav>
