 <md-sidenav md-raised mode="side" opened="true">
      <md-nav-list>
        <md-list-item>
          <img md-list-avatar src="..." alt="...">
          <h2 md-line> AnsuranceRun </h2>
        </md-list-item>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../home">Home</button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../patients">Patients</button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../medicalInterview">Medical interview</button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../physicalExamination">Physical Examination</button>
        <md-divider></md-divider>        
        <button md-list-item md-button routerLink="../imaging">Imaging</button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../medication">Medication</button>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../labs">Labs</button>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <button md-list-item md-button routerLink="../billings">Billing</button>
        <md-divider></md-divider>
      </md-nav-list>
      
    </md-sidenav>
