<md-sidenav-layout>
  <md-sidenav-layout>
    <md-sidenav md-raised mode="side" opened="true">
      <md-nav-list>
        <md-list-item>
          <img md-list-avatar src="..." alt="...">
          <h2 md-line> AnsuranceRun </h2>
        </md-list-item>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <button md-list-item md-button [routerLink]="patients">Patients</button>
        <md-divider></md-divider>
        <button md-list-item md-button>Imaging</button>
        <md-divider></md-divider>
        <button md-list-item md-button>Medication</button>
        <md-divider></md-divider>
        <button md-list-item md-button>Labs</button>
        <md-divider></md-divider>
        <button md-list-item md-button>Incident</button>
        <md-divider></md-divider>
        <button md-list-item md-button>Administration</button>
        <md-divider></md-divider>
      </md-nav-list>

    </md-sidenav>

  <div class="sidenav-content">
    <app-toolbar></app-toolbar>

  </div>

</md-sidenav-layout>
