 <app-sidenav></app-sidenav>
  <md-sidenav-layout>

  <div class="sidenav-content">
    <md-toolbar>Labs works!</md-toolbar>
    <div class="container">
      <div class="panel panel-default">
      <div class="panel-body">
        ssdf
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Patient</span>
          <input type="text" class="form-control" placeholder="Patient" aria-describedby="sizing-addon3">
        </div>

        <div class="input-group input-group-sm" style="padding-top: 10px;">
          <span class="input-group-addon" id="sizing-addon3">Visit</span>
            <select class="form-control form-control-sm">
              <option>--Add new visit--</option>
            </select>
        </div>

        <div class="input-group input-group-sm" style="padding-top: 10px;">
          <span class="input-group-addon" id="sizing-addon3">Lab Type</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
        </div>

        <div class="" style="padding-top: 10px;">
          <!--<span class="input-group-addon" id="sizing-addon3">Notes</span>-->
          <textarea class="form-control" rows="3" placeholder="Notes"></textarea>
        </div>

        <div style="padding-top: 10px;">
          <button class="btn btn-danger col-md-offset-10">Cancel</button>
          <button class="btn btn-default">Add</button>
        </div>
        
      </div>
    </div>
  </div>

</div>

</md-sidenav-layout>
