<app-sidenav></app-sidenav>
<md-sidenav-layout>
  
  <div class="sidenav-content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h3>Patient</h3>
        </div>
        <button type="button" class="btn btn-default navbar-btn navbar-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Patient</button>
      </div>
    </nav>
    <div class="main-content">
    <form>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <label for="">First Name</label>
            <input type="" class="form-control" id="" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="">Middle Name</label>
            <input type="" class="form-control" id="" placeholder="Middle Name">
          </div>
          <div class="form-group">
            <label for="">Last Name</label>
            <input type="" class="form-control" id="" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="">Sexe</label>
            <input type="" class="form-control" id="" placeholder="Sexe">
          </div>
          <div class="form-group">
            <label for="">Date Of Birth</label>
            <input type="" class="form-control" id="" placeholder="Date Of Birth">
          </div>
          <div class="form-group">
            <label for="">Age</label>
            <input type="" class="form-control" id="" placeholder="Age">
          </div>
          <div class="form-group">
            <label for="">Place Of Birth</label>
            <input type="" class="form-control" id="" placeholder="Place Of Birth">
          </div>
        </div>
        <div class="col-xs-6 col-md-6">
          <!--<div class="form-group">
            <label for="">Place Of Birth</label>
            <input type="" class="form-control" id="" placeholder="Place Of Birth">
          </div>-->
          <div class="form-group">
            <label for="">Blood Type</label>
            <input type="" class="form-control" id="" placeholder="Blood Type">
          </div>
          <div class="form-group">
            <label for="">Clinic site</label>
            <input type="" class="form-control" id="" placeholder="Clinic site">
          </div>
          <div class="form-group">
            <label for="">Parent/ Guardian</label>
            <input type="" class="form-control" id="" placeholder="Parent/ Guardian">
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="" class="form-control" id="" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="">Adresse</label>
            <input type="" class="form-control" id="" placeholder="Adresse">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="" class="form-control" id="" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="" class="form-control" id="" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="">Country</label>
            <input type="" class="form-control" id="" placeholder="Country">
          </div>
        </div>
      </div>
      
      <button type="submit" class="btn btn-danger col-md-offset-9"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel and Quit</button>
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Add</button>
    </form>
    </div>
  </div>

</md-sidenav-layout>
    
