<app-sidenav></app-sidenav>
<md-sidenav-layout>

  <div class="sidenav-content">
    <md-toolbar color="primary">Patients
      <span class="spacer"></span>
      <button md-button [routerLink]="['newPatient']"><md-icon>add</md-icon>New Patient</button>
    </md-toolbar>
    <div class="container" style="padding-top: 10px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <router-outlet></router-outlet>
          
        </div>
      </div>
    </div>
  </div>
</md-sidenav-layout>