<div class="container">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">List patients of all Insurance Company</div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <td>Insurance Name</td>
        <td>Insured Name</td>
        <td>Date of Birth</td>
        <td>Address</td>
        <td>Phone</td>
        <td>Company</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>