/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container{
    width: 100%;
    height: 100%;
}

html, body, material-app, md-sidenav-layout, .sidenav-content {
  margin: 0;
  width: 100%;
  height: 100%;
}



/*.main-content {
  margin: 10px;
}*/

