<app-sidenav></app-sidenav>
  <md-sidenav-layout>

  <div class="sidenav-content">
    <md-toolbar color="primary">
      <span>Medical i works!</span>
      <span class="spacer"></span>
      <button md-button><md-icon>add</md-icon>New Interview</button></md-toolbar>

     <div class="content">
       <div class="panel panel-default">
          <div class="panel-heading">Identification</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                Inssurance Name
                <input type="text" class="form-control" placeholder="Anssurance Name" aria-describedby="basic-addon1">
              </div>
              <div class="col-md-3">
                Insured ID
                <input type="text" class="form-control" placeholder="Insured ID" aria-describedby="basic-addon1">
              </div>
            </div>


            <div class="row">
              <div class="col-xs-12 col-md-8">
                <form class="form-horizontal">
                  <div class="form-group" style="padding-top: 10px;">
                    <label for="" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-3">
                      <input type="" class="form-control" id="" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">First name</label>
                    <div class="col-sm-4">
                      <input type="" class="form-control" id="" placeholder="First name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Age</label>
                    <div class="col-sm-2">
                      <input type="" class="form-control" id="" placeholder="Age">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-4">
                      <input type="" class="form-control" id="" placeholder="Address">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-xs-6 col-md-4">
                <div>
                  <img src=",,/../../assets/avatar/avatar.jpg" alt="Image du patient" class="img-thumbnail">
                </div>
              </div>
            </div>

          </div>
        </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="input-group col-md-8">
            <span class="input-group-addon" id="basic-addon1">Reason for consulatation</span>
            <input type="text" class="form-control" placeholder="Reason for consulatation" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="panel-body">

        <div class="form-group col-md-5">
          <label for="">Family Antecedents</label>
          <textarea class="form-control" rows="3" placeholder="Family Antecedents" required></textarea>
        </div>

        <div class="form-group col-md-5">
          <label for="">Personals Antecedents</label>
          <textarea class="form-control" rows="3" placeholder="Personals Antecedents" required></textarea>
        </div>

        <div class="form-group col-md-10">
          <label for="">Interview</label>
          <textarea class="form-control" rows="7" placeholder="Interview" required></textarea>
        </div>

        </div>
        <div class="panel-footer">
          <button md-raised-button color="warn">
            <md-icon>cancel</md-icon>
            Cancel and Quit
          </button>
          <button md-raised-button color="primary">
            <md-icon class="md-24">save</md-icon>
            Save
          </button>
        </div>
      </div>
    </div>
</div>
</md-sidenav-layout>
    

