  <app-sidenav></app-sidenav>
  <md-sidenav-layout>

  <div class="sidenav-content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h3>Medical interview</h3>
        </div>
        <button type="button" class="btn btn-default navbar-btn navbar-right">New Interview</button>
      </div>
    </nav>

     <div class="main-content">
       <div class="panel panel-default">
          <div class="panel-heading">Identification</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                Inssurance Name
                <input type="text" class="form-control" placeholder="Anssurance Name" aria-describedby="basic-addon1">
              </div>
              <div class="col-md-3">
                Insured ID
                <input type="text" class="form-control" placeholder="Insured ID" aria-describedby="basic-addon1">
              </div>
            </div>


            <div class="row">
              <div class="col-xs-12 col-md-8">
                <form class="form-horizontal">
                  <div class="form-group" style="padding-top: 10px;">
                    <label for="" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-3">
                      <input type="" class="form-control" id="" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">First name</label>
                    <div class="col-sm-4">
                      <input type="" class="form-control" id="" placeholder="First name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Age</label>
                    <div class="col-sm-2">
                      <input type="" class="form-control" id="" placeholder="Age">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-4">
                      <input type="" class="form-control" id="" placeholder="Address">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-xs-6 col-md-4">
                <div>
                  <img src=",,/../../assets/avatar/avatar.jpg" alt="Image du patient" class="img-thumbnail">
                </div>
              </div>
            </div>

          </div>
        </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="input-group col-md-8">
            <span class="input-group-addon" id="basic-addon1">Reason for consulatation</span>
            <input type="text" class="form-control" placeholder="Reason for consulatation" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="panel-body">

        <div class="form-group col-md-5">
          <label for="">Family Antecedents</label>
          <textarea class="form-control" rows="3" placeholder="Family Antecedents" required></textarea>
        </div>

        <div class="form-group col-md-5">
          <label for="">Personals Antecedents</label>
          <textarea class="form-control" rows="3" placeholder="Personals Antecedents" required></textarea>
        </div>

        <div class="form-group col-md-10">
          <label for="">Interview</label>
          <textarea class="form-control" rows="7" placeholder="Interview" required></textarea>
        </div>

        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-warning col-md-offset-9">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Annuler et Quitter
        </button>
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Enregistrer
        </button>
        </div>
      </div>

      
        

      <!--<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Interview</h3>
        </div>
        <div class="panel-body">
            <div class="input-group col-md-8">
              <span class="input-group-addon" id="basic-addon1">Motif de consulatation</span>
              <input type="text" class="form-control" placeholder="Motif de consultation" aria-describedby="basic-addon1">
            </div>

          <div class="row">
            
            <div class="form-group">
              Antecedents Familliaux
              <textarea class="form-control" rows="3" placeholder="What's up?" required></textarea>
            </div>

            <div class="col-md-6">
              Antecedents personnels
              <textarea class="form-control" rows="3" placeholder="What's up?" required></textarea>
            </div>       -->
    </div>
</div>
</md-sidenav-layout>
    

